@import url('./pages/play/style.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding-top: 30px;
    display: flex;
    justify-content: center;
}

.logo img {
    height:  100px;
}

.choise {
    padding-top: 100px;
}

.choise__info {
    max-width: 92%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #CBC199;
    padding: 30px 30px;
}

.choise__title {
    font-size: 28px;
    color: #D30AD7;
}

.choise__chars {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.choise__chars-char {
    width: 25%;
    cursor: pointer;
}


.chosen {
    border: 3px solid green;
}

.choise__chars-char img  {
    height: 100px;
    width: 100%;
}

.choise__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.choise__form-name {
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
}

.choise__form-btn {
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #D30AD7;
    color: #fff;
    cursor: pointer;
}